@import "_vars";

@mixin font-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $blue;
  justify-content: space-between;
  display: flex;
  width: 736px;
  margin: 0 auto;
  padding-top: 84px;
}
